.slick-list {
  padding-top: 25px !important;
  padding-bottom: 35px !important;
}

.slick-slider {
  height: 226px;
  top: -25px;

  .slick-arrow {
    position: absolute;
    z-index: 2000;
    color: transparent;
    font-size: 30px;

    &::before {
      font-family: Ionicons;
      color: #000;
      background: #fff;
      padding: 10px;
      border-radius: 20px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

  }
  .slick-prev {
    left: 20px;
    top: 40%;
    border: none;
    background: transparent;

    &::before {
      content: "\f2ca";
      float: left;
    }
  }

  .slick-next {
    right: 20px;
    top: 40%;
    border: none;
    background: transparent;

    &::before {
      content: "\f30f";
      float: right;
    }
  }

  .slick-slide {
    color: #fff;

    .imageFrame {
      position: absolute;
      width: 200px;
      height: 200px;
      overflow: hidden;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);

      img {
        width: 100%;
        height: auto;
      }
    }

    .imageSliderRecordDesc {
      position: relative;
      width: 80%;
      top: 180px;
      background: $color8;
      font-family: 'Karma', sans-serif;
      font-weight: 600;
      left: 15px;
      padding: 10px 0 5px 10px;
      font-size: 22px;
    }
  }
}

.slider-card {
  margin: 0 20px;
  background-size: cover !important;
  display: flex !important;
  flex-direction: column-reverse !important;

  .mdl-card__title {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

//extraw0rscht für den slider auf /

.index.slider {
  margin-bottom: 25px;
}