.slick-list {
  padding-top: 25px !important;
  padding-bottom: 35px !important;

  .slick-track {
    background: $color9;
  }
}

.slick-slider {
  height: 226px;
  top: -25px;

  .slick-arrow {
    position: absolute;
    z-index: 2000;
    color: transparent;
    font-size: 30px;

  }
  .slick-prev {
    left: 20px;
    top: 40%;
    border: none;
    background: transparent;

    &::before {
      content: "\f2ca";
      font-family: Ionicons;
      color: #000;
    }
  }

  .slick-next {
    right: 20px;
    top: 40%;
    border: none;
    background: transparent;

    &::before {
      content: "\f30f";
      font-family: Ionicons;
      color: #000;
      float: right;
    }
  }

  .slick-slide {
    color: #fff;

    .imageFrame {
      position: absolute;
      width: 200px;
      height: 200px;
      overflow: hidden;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);

      img {
        width: 100%;
        height: auto;
      }
    }

    .imageSliderRecordDesc {
      position: relative;
      width: 80%;
      top: 180px;
      background: $color8;
      font-family: 'Karma', sans-serif;
      font-weight: 600;
      left: 15px;
      padding: 10px 0 5px 10px;
      font-size: 22px;
    }
  }
}