.customerLoginForm {
  position: absolute;
  background: $loginMenuBackground;
  color: $loginMenuFontColor;
  z-index: 3000;
  padding: 10px;
  height: 100vh;
  width: 280px;
  left: -290px;
  transition: left .4s ease-in;

  -webkit-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75);

  &.active {
    left: 0;
  }

  a, h3 {
    color: $loginMenuFontColor;
  }

  .mdl-textfield {
    .mdl-textfield__label {
      color: $loginMenuFontColor;
    }

    &.is-focused label {
      color: #fff;
    }
  }

}