h1 {
  font-weight: 300;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  left: -18px;
  top: -5px;
  margin-bottom: 15px;
  line-height: 50px;
}

h2 {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
}

.highlight {
  color: $objectHighlightColor;
  font-size: 64px;
}