.footer {
  position: sticky;

  font-family: 'Mina', sans-serif;
  bottom: 0;
  height: 100px;
  background: $footerBackground;
  color: #fff;
  z-index: 100;

  .footercol {
    font-size: 2em;
    text-align: center;
    height: 100%;

    p {
      margin: auto;
      line-height: 100px;
    }
  }
}