@import "../variables/palette";

.header {
  width: 100%;
  color: $color9;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("imgs/recordHeaderImage.jpeg");
  background-size: cover;
  background-position-x: 10%;
  height: 225px;
  overflow-x: hidden;
  position: fixed;
  z-index: 200;

  h4.login {
    padding: 0;
    margin: 0;
    font-size:16px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 2px;

    &:hover {
      color: #1c67cc;
      border-color: #1c67cc;
    }
  }


  .left {

    background-size: cover;
    background-position: 10% 45%;
  }

  h2 {
    font-size: 2em;
    z-index: 1000;
    margin: 10px 0 0 0;
  }

  div.col-xs-6.right {
    background: fuchsia;
    width: 50%;
    border: 5px solid #000;
    border-left: 0;
    background-position: 25% 30%;
    animation: myfirst 5s;
    -moz-animation: myfirst 5s infinite; /* Firefox */
    -webkit-animation: myfirst 5s infinite; /* Safari and Chrome */

    @-moz-keyframes myfirst /* Firefox */
    {
      0% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      100% {
        background-color: red;
      }
    }

    @-webkit-keyframes myfirst /* Firefox */
    {
      0% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      100% {
        background-color: red;
      }
    }
  }

  div.col-xs-6.left {
    width: 50%;
    border-bottom: 5px solid #fff;
  }

  .itemCard {
    min-height: auto;
    h6 {
      font-size: 14px;
    }
  }
}

.logo {
  font-family: 'Mina', sans-serif;
  background: #fff;
  color: #000;
  height: 80px;

  h1 {
    left: -17px;
  }

  .col-6.right {
    text-align: right;

    p {
      margin-bottom: -10px;
      font-size: 1.3em;
    }
  }

}

@media all and (min-width: 428px){
  .header {
    .right {
      right: 0;
    }
  }

}