.header {
  height: 150px;
  background: #000;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;

  h2 {
    font-size: 4em;
  }

  div.col-xs-6.right {
    background: fuchsia;
    width: 50%;
    border: 5px solid #000;
    border-left: 0;
    background-image: url("imgs/record_transparent.png");
    background-position: 25% 30%;
    animation: myfirst 5s;
    -moz-animation: myfirst 5s infinite; /* Firefox */
    -webkit-animation: myfirst 5s infinite; /* Safari and Chrome */

    @-moz-keyframes myfirst /* Firefox */
    {
      0% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      100% {
        background-color: red;
      }
    }

    @-webkit-keyframes myfirst /* Firefox */
    {
      0% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      100% {
        background-color: red;
      }
    }
  }

  div.col-xs-6.left {
    width: 50%;
    border-bottom: 5px solid #fff;
  }
}

.logo {
  font-family: 'Mina', sans-serif;
  background: #fff;
  color: #000;
  height: 80px;

  .col-xs-10 {
    position: relative;
    left: 100px;

    p {
      margin-bottom: 0;
    }
  }

}