.mdl-textfield__label:after {
  bottom: 13px !important;
}

.mdl-textfield__error {
  visibility: visible;
}

a.mdl-button--colored {
  color: #fff !important;

  &:hover {
    text-decoration: none;
  }
}