.mdl-card.shoppingCart {
  overflow: hidden;
  width: 150px !important;
  height: 58px;

  -webkit-transition: height .35s, width .45s;
  -moz-transition: height .35s, width .45s;
  -ms-transition: height .35s, width .45s;
  -o-transition: height .35s, width .45s;
  transition: height .35s, width .45s;

  .mdl-card__title {
    flex-grow: 0;
    position: relative;
    top: 20px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    padding-bottom: 0 !important;

    p {
      margin: 0;
    }

    .ion-chevron-down {
      &:before {
        margin-top: 4px;
      }
    }

    .upsideDown::before {
      transform: rotate(180deg);

    }
  }

  &.visible {
    border-top-width: 20px;
    height: 200px;
    width: 300px !important;

    .mdl-card__title {
      top: 0;

    }
  }
}