.mdl-card.shoppingCart {
  overflow: hidden;
  width: 150px !important;
  max-height: 58px;


  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  -webkit-transition: max-height 1.05s, width 1.15s;
  -moz-transition: max-height 1.05s, width 1.15s;
  -ms-transition: max-height 1.05s, width 1.15s;
  -o-transition: max-height 1.05s, width 1.15s;
  transition: max-height 1.05s, width 1.15s;

  .mdl-card__actions {
    max-height: 0;

    -webkit-transition: max-height 1.05s, width 1.15s;
  -moz-transition: max-height 1.05s, width 1.15s;
  -ms-transition: max-height 1.05s, width 1.15s;
  -o-transition: max-height 1.05s, width 1.15s;
  transition: max-height 1.05s, width 1.15s;

  }


  .mdl-card__title {
    flex-grow: 0;
    position: relative;
    top: 20px;
    -webkit-transition: all 1.35s;
    -moz-transition: all 1.35s;
    -ms-transition: all 1.35s;
    -o-transition: all 1.35s;
    transition: all 1.35s;
    padding-bottom: 0 !important;

    p {
      margin: 0;
    }

    .ion-chevron-down {
      &:before {
        margin-top: 4px;
      }
    }

    .upsideDown::before {
      transform: rotate(180deg);
    }
  }

  .mdl-card__supporting-text {
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s ;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  &.visible {
    border-top-width: 20px;
    max-height: 701px;
    width: 300px !important;

    -webkit-transition: max-height 1.35s, width 1.45s;
    -moz-transition: max-height 1.35s, width 1.45s;
    -ms-transition: max-height 1.35s, width 1.45s;
    -o-transition: max-height 1.35s, width 1.45s;
    transition: max-height 1.35s, width 1.45s;

    .mdl-card__title {
      top: 0;
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -ms-transition: all 1.5s;
      -o-transition: all 1.5s;
      transition: all 1.5s;
    }

    .mdl-card__actions {
      height: auto;
      max-height: 700px;
      -webkit-transition: max-height 1.35s, width 1.45s;
    -moz-transition: max-height 1.35s, width 1.45s;
    -ms-transition: max-height 1.35s, width 1.45s;
    -o-transition: max-height 1.35s, width 1.45s;
    transition: max-height 1.35s, width 1.45s;
    }

    .mdl-card__supporting-text {
      opacity: 1;
    }
  }
}

.shoppingCart__numItemsBadge {
  position: relative;
  z-index: 1000;
  right: 20px;

  >.col-auto {
    position: relative;
    right: -28px;
    z-index: 0;
  }
}