.table {

  tr {
    &:hover {
      a {
        color: $material_blue;
      }
    }
  }

  td {
    padding: 0 !important;
  }

  a {
    display: block;
    padding: 10px;

    &:hover {
      text-decoration: none;
    }
  }
}