/* Coolors Exported Palette - coolors.co/042a2b-420039-136f63-e89005-ff570a */
/*$color1: #f4e8c1;
$color2: #a0c1b8;
$color3: #709fb0;
$color4: #726a95;
$color5: #351f39;*/
@import url(bootstrap/css/bootstrap-reboot.min.css);
@import url(bootstrap/css/bootstrap.css);
@import url(bootstrap/css/bootstrap-grid.css);
/* Coolors Exported Palette - coolors.co/042a2b-420039-136f63-e89005-ff570a */
/*$color1: #f4e8c1;
$color2: #a0c1b8;
$color3: #709fb0;
$color4: #726a95;
$color5: #351f39;*/
@import url(bower_components/Ionicons/scss/_ionicons.css);
.header {
  width: 100%;
  color: #A4031F;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("imgs/recordHeaderImage.jpeg");
  background-size: cover;
  background-position-x: 10%;
  min-height: 225px;
  overflow-x: hidden;
  position: relative;
  z-index: 200; }
  .header .headerInner {
    padding-top: 20px; }
  .header h4.login {
    padding: 0;
    margin: 0;
    font-size: 16px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 2px; }
    .header h4.login:hover {
      color: #1c67cc;
      border-color: #1c67cc; }
  .header .left {
    background-size: cover;
    background-position: 10% 45%; }
  .header h2 {
    font-size: 2em;
    z-index: 1000;
    margin: 10px 0 0 0; }
  .header div.col-xs-6.right {
    background: fuchsia;
    width: 50%;
    border: 5px solid #000;
    border-left: 0;
    background-position: 25% 30%;
    animation: myfirst 5s;
    -moz-animation: myfirst 5s infinite;
    /* Firefox */
    -webkit-animation: myfirst 5s infinite;
    /* Safari and Chrome */ }
@-moz-keyframes myfirst /* Firefox */ {
  0% {
    background-color: red; }
  50% {
    background-color: yellow; }
  100% {
    background-color: red; } }
@-webkit-keyframes myfirst /* Firefox */ {
  0% {
    background-color: red; }
  50% {
    background-color: yellow; }
  100% {
    background-color: red; } }
  .header div.col-xs-6.left {
    width: 50%;
    border-bottom: 5px solid #fff; }
  .header .itemCard {
    min-height: auto; }
    .header .itemCard h6 {
      font-size: 14px;
      width: 100%; }

.logo {
  font-family: 'Mina', sans-serif;
  background: #fff;
  color: #000;
  height: 80px; }
  .logo h1 {
    left: -17px; }
  .logo .col-6.right {
    text-align: right; }
    .logo .col-6.right p {
      margin-bottom: -10px;
      font-size: 1.3em; }

@media all and (min-width: 428px) {
  .header .right {
    right: 0; } }
.slick-list {
  padding-top: 25px !important;
  padding-bottom: 35px !important; }

.slick-slider {
  height: 226px;
  top: -25px; }
  .slick-slider .slick-arrow {
    position: absolute;
    z-index: 2000;
    color: transparent;
    font-size: 30px; }
    .slick-slider .slick-arrow::before {
      font-family: Ionicons;
      color: #000;
      background: #fff;
      padding: 10px;
      border-radius: 20px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .slick-slider .slick-prev {
    left: 20px;
    top: 40%;
    border: none;
    background: transparent; }
    .slick-slider .slick-prev::before {
      content: "\f2ca";
      float: left; }
  .slick-slider .slick-next {
    right: 20px;
    top: 40%;
    border: none;
    background: transparent; }
    .slick-slider .slick-next::before {
      content: "\f30f";
      float: right; }
  .slick-slider .slick-slide {
    color: #fff; }
    .slick-slider .slick-slide .imageFrame {
      position: absolute;
      width: 200px;
      height: 200px;
      overflow: hidden;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg); }
      .slick-slider .slick-slide .imageFrame img {
        width: 100%;
        height: auto; }
    .slick-slider .slick-slide .imageSliderRecordDesc {
      position: relative;
      width: 80%;
      top: 180px;
      background: #40476D;
      font-family: 'Karma', sans-serif;
      font-weight: 600;
      left: 15px;
      padding: 10px 0 5px 10px;
      font-size: 22px; }

.slider-card {
  margin: 0 20px;
  background-size: cover !important;
  display: flex !important;
  flex-direction: column-reverse !important; }
  .slider-card .mdl-card__title {
    background-color: rgba(255, 255, 255, 0.7); }

.index.slider {
  margin-bottom: 25px; }

.footer {
  font-family: 'Mina', sans-serif;
  bottom: 0;
  height: 100px;
  background: #91b3bc;
  color: #fff;
  z-index: 100; }
  .footer .footercol {
    font-size: 2em;
    text-align: center;
    height: 100%; }
    .footer .footercol p {
      margin: auto;
      line-height: 100px; }

.footer a {
  color: #fff; }
  .footer a:hover {
    text-decoration: none;
    color: #cccccc; }

.btn {
  margin: 5px; }

.btn-primary {
  background: #91b3bc;
  border: 1px solid #91b3bc;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .btn-primary:hover {
    background-color: #5b7d87; }

.mdl-button--delete {
  background-color: #FE5F55 !important;
  color: #fff; }

h1 {
  font-weight: 300;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  margin-bottom: 15px;
  line-height: 50px; }

h2 {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px; }

.highlight {
  color: #1c67cc;
  font-size: 64px; }

.customerLoginForm {
  top: 0;
  position: absolute;
  background: #2b4251;
  color: #fff;
  z-index: 3000;
  padding: 10px;
  height: 100vh;
  width: 280px;
  left: -290px;
  transition: left .4s ease-in;
  -webkit-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.75); }
  .customerLoginForm.active {
    left: 0; }
  .customerLoginForm a, .customerLoginForm h3 {
    color: #fff; }
  .customerLoginForm .mdl-textfield .mdl-textfield__label {
    color: #fff; }
  .customerLoginForm .mdl-textfield.is-focused label {
    color: #fff; }

.passwordErrorMessage {
  color: red; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: #fff !important; }

.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4; }

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px); }

.mdl-textfield--file .mdl-button--file {
  right: 0; }

.itemCard {
  margin-bottom: 20px;
  background-color: #d0dfe3 !important;
  width: 90% !important; }
  .itemCard .titleImage {
    display: flex;
    flex-direction: row;
    height: 150px; }
    .itemCard .titleImage .mdl-card__title {
      flex: 2; }
      .itemCard .titleImage .mdl-card__title .mdl-card__title-text {
        align-self: flex-start; }
    .itemCard .titleImage .imagepart {
      width: 150px;
      background-size: cover; }
  .itemCard__searchResultRecord {
    width: 160px !important;
    height: 160px !important; }
    .itemCard__searchResultRecord .titleImage {
      flex: 1;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column; }
      .itemCard__searchResultRecord .titleImage .mdl-card__title {
        flex-direction: column;
        justify-content: space-between; }
    .itemCard__searchResultRecord .mdl-card__actions {
      display: flex;
      justify-content: center; }

.mdl-card.customerRecordDetailCard {
  width: 200px;
  height: 200px; }
  .mdl-card.customerRecordDetailCard > .mdl-card__title {
    background-size: cover; }

.cardArtist {
  color: #3f51b5; }

.mdl-card.customerRecordOverview {
  margin: 15px auto; }

.mdl-textfield__label:after {
  bottom: 13px !important; }

.mdl-textfield__error {
  visibility: visible; }

a.mdl-button--colored {
  color: #fff !important; }
  a.mdl-button--colored:hover {
    text-decoration: none; }

.recordCrudForm .mdl-textfield {
  width: auto; }

dialog:not([open]) {
  display: none; }

.search {
  margin-top: 50px;
  text-align: center; }
  .search .mdl-textfield input {
    font-size: 40px; }
  .search .mdl-textfield label {
    font-size: 24px;
    top: 40px; }
  .search .mdl-textfield .mdl-textfield__label {
    color: #5b7d87; }

.paginationRow {
  margin: 20px 5px; }

.mdl-card.shoppingCart {
  overflow: hidden;
  width: 150px !important;
  max-height: 58px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transition: max-height 1.05s, width 1.15s;
  -moz-transition: max-height 1.05s, width 1.15s;
  -ms-transition: max-height 1.05s, width 1.15s;
  -o-transition: max-height 1.05s, width 1.15s;
  transition: max-height 1.05s, width 1.15s; }
  .mdl-card.shoppingCart .mdl-card__actions {
    max-height: 0;
    -webkit-transition: max-height 1.05s, width 1.15s;
    -moz-transition: max-height 1.05s, width 1.15s;
    -ms-transition: max-height 1.05s, width 1.15s;
    -o-transition: max-height 1.05s, width 1.15s;
    transition: max-height 1.05s, width 1.15s; }
  .mdl-card.shoppingCart .mdl-card__title {
    flex-grow: 0;
    position: relative;
    top: 20px;
    -webkit-transition: all 1.35s;
    -moz-transition: all 1.35s;
    -ms-transition: all 1.35s;
    -o-transition: all 1.35s;
    transition: all 1.35s;
    padding-bottom: 0 !important; }
    .mdl-card.shoppingCart .mdl-card__title p {
      margin: 0; }
    .mdl-card.shoppingCart .mdl-card__title .ion-chevron-down:before {
      margin-top: 4px; }
    .mdl-card.shoppingCart .mdl-card__title .upsideDown::before {
      transform: rotate(180deg); }
  .mdl-card.shoppingCart .mdl-card__supporting-text {
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all 0.5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .mdl-card.shoppingCart.visible {
    border-top-width: 20px;
    max-height: 701px;
    width: 300px !important;
    -webkit-transition: max-height 1.35s, width 1.45s;
    -moz-transition: max-height 1.35s, width 1.45s;
    -ms-transition: max-height 1.35s, width 1.45s;
    -o-transition: max-height 1.35s, width 1.45s;
    transition: max-height 1.35s, width 1.45s; }
    .mdl-card.shoppingCart.visible .mdl-card__title {
      top: 0;
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -ms-transition: all 1.5s;
      -o-transition: all 1.5s;
      transition: all 1.5s; }
    .mdl-card.shoppingCart.visible .mdl-card__actions {
      height: auto;
      max-height: 700px;
      -webkit-transition: max-height 1.35s, width 1.45s;
      -moz-transition: max-height 1.35s, width 1.45s;
      -ms-transition: max-height 1.35s, width 1.45s;
      -o-transition: max-height 1.35s, width 1.45s;
      transition: max-height 1.35s, width 1.45s; }
    .mdl-card.shoppingCart.visible .mdl-card__supporting-text {
      opacity: 1; }

.shoppingCart__numItemsBadge {
  position: relative;
  z-index: 1000;
  right: 20px; }
  .shoppingCart__numItemsBadge > .col-auto {
    position: relative;
    right: -28px;
    z-index: 0; }

.colorBlue {
  color: #3f51b5; }

.shoppingCartItem .titleImage {
  max-height: 120px; }

.shoppingCartRecord {
  justify-content: flex-end;
  position: relative;
  overflow: visible !important; }
  .shoppingCartRecord h6 {
    color: #fff; }
  .shoppingCartRecord input {
    color: #fff; }
  .shoppingCartRecord label {
    color: #fff !important; }
    .shoppingCartRecord label i {
      font-size: 12px; }

.recordDetail__tracklist .mdl-list__item {
  padding: 4px 2px;
  min-height: auto; }

.table tr:hover a {
  color: #3f51b5; }
.table td {
  padding: 0 !important; }
.table a {
  display: block;
  padding: 10px; }
  .table a:hover {
    text-decoration: none; }

.adminOrderTable td {
  padding: 10px !important; }

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  overflow-x: hidden; }

.main {
  z-index: 100;
  top: 0;
  position: static; }

.notIndex {
  padding-top: 225px; }

.container:last-of-type {
  margin-bottom: 50px; }

h1, h2, h3, h4, h5, h6, p, span {
  color: #5d5d5d; }

.searchResults {
  margin-bottom: 100px; }

/*# sourceMappingURL=base.css.map */
