@import "bootstrap/css/bootstrap-reboot.min.css";
@import "bootstrap/css/bootstrap.css";
@import "bootstrap/css/bootstrap-grid.css";
@import "partials/header";
@import "variables/variables";
@import "slider/slider";
@import "bower_components/Ionicons/scss/_ionicons.css";
@import "partials/footer";
@import "partials/links";
@import "partials/adminLogin";

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
}

h1 {
  font-weight: 300;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  left: -20px;
  top: -15px;
}
