/* Coolors Exported Palette - coolors.co/042a2b-420039-136f63-e89005-ff570a */
/*$color1: #f4e8c1;
$color2: #a0c1b8;
$color3: #709fb0;
$color4: #726a95;
$color5: #351f39;*/


// option 2:

$color1: #91b3bc;
$color2: #5b7d87;
$color3: #45415e;
$color4: #2b4251;
$color5: #2e323c;
