<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>FILES_DIR</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>

    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>servlet.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <!--H@XXX! -> maps the servlet to the welcome file list...-->
        <welcome-file>welcome</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlet.adminServlets.AdminLogin</servlet-class>
        <init-param>
            <param-name>adminAccSalt</param-name>
            <param-value>6usrq7D5VYRtYgHSPCjZfU8SPWe8BMFn668fhFYM7JcmvudA</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAdminAccount</servlet-name>
        <servlet-class>servlet.adminServlets.CreateAdminAccount</servlet-class>
        <init-param>
            <param-name>adminAccSalt</param-name>
            <param-value>6usrq7D5VYRtYgHSPCjZfU8SPWe8BMFn668fhFYM7JcmvudA</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAdminAccount</servlet-name>
        <url-pattern>/createAdminAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminAlreadyLoggedIn</servlet-name>
        <jsp-file>/adminLoginSuccessful</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAlreadyLoggedIn</servlet-name>
        <url-pattern>/adminAlreadyLoggedIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminRecordsOverview</servlet-name>
        <servlet-class>servlet.adminServlets.AdminRecordsOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRecordsOverview</servlet-name>
        <url-pattern>/adminLogin/AdminRecordsOverview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRecord</servlet-name>
        <servlet-class>servlet.adminServlets.AddRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRecord</servlet-name>
        <url-pattern>/adminLogin/AdminRecordsOverview/addRecord</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminArtistsOverview</servlet-name>
        <servlet-class>servlet.adminServlets.AdminArtistsOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminArtistsOverview</servlet-name>
        <url-pattern>/adminLogin/AdminArtistsOverview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddArtist</servlet-name>
        <servlet-class>servlet.adminServlets.AddArtist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArtist</servlet-name>
        <url-pattern>/adminLogin/AdminArtistsOverview/addArtist</url-pattern>
    </servlet-mapping>
</web-app>
